@CHARSET "UTF-8";

@media screen and (max-width:424px) {
	section .double-set .txt-box .section-header h2  {
		letter-spacing:  -0.37px;
		font-size:  3.2642857142857147em;
		line-height:  1.42em;
		margin-bottom:  3vw;
		color:   #3b3b3b;
		font-family:   'KoPuBatang-M', sans-serif;
	}
	article:last-child div  {
		width:  50% !important;
		padding:  10% 0 !important;
		text-align:  center !important;
	}
	.portfolio-header ul>li>a {
		font-size: 15.2px !important
	}
	.portfolio-thumb .thumb-text p {
		
	}
	.portfolio-thumb .thumb-text h2 {
		font-size: 16.3px;
	}
	.portfolio-thumb .thumb-text {
		padding: 11% 0;
	}
	.inbox .imagines {
		padding: 5px 5px !important;
	}
	.inner-grid  img {
		padding: 8px 17px !important;
	}
}

@media screen and (max-width:600px) {
	.about-area .chart .chart-item {
		width: 100%;
	}
	.about-area .about-circle div {
		width: 100%;
	}
	.about-circle:before {
		display: none;
	}
	.about-area .about-circle div {
		padding: 15px 10px;
	}
	.about_content h4 {
		padding-bottom: 20px;
	}
}

@media screen and (max-width:530px) {
	.inner-grid2 .inbox {
		width: 50%;
	}
	.inner-grid .inbox {
		width: 50%;
	}
	.inner-grid  img {
		padding: 8px 16px;
	}
	.inner-grid {
		padding: 10.5% 5% 3%;
	}
}

@media screen and (max-width:374px) {
	article:last-child span {
		font-size: 1.242857em !important;
	}
	.view-header h2 {
		width: 65% !important;
	}
	.view-header .owl-controls {
		width: 35% !important;
	}
	.mobile-tab {
		padding: 0 0 0 4% !important;
	}
}

@media screen and (max-width:424px) {
	section .double-set .txt-box .txt-area .btnS {
		display: none;
	}
	section .double-set .txt-box .txt-area .btns {
		display: none;
	}
	.mobile-tab {
		padding: 0 0 0 4% !important;
	}
}

@media screen and (max-width:480px) {
	.owl-pagination {
		top: 80.5%;
	}
	section .double-set .txt-box .section-header h2 {
		font-size: 1.564286em !important;
	}
	section .double-set .txt-box .txt-area p {
		display: none;
	}
	.img-grid {
		padding: 5.5% 0 9.5%;
	}
	.introduce p {
		font-size: 1em;
	}
	#owl-demo .item .owl-overlay h2 {
		font-size: 1.43em !important;
	}
	.about_ianBest h3 {
		font-size: 1.597857em !important;
		line-height: 1.02 !important;
	}
	.about_content h4 {
		font-size: 1.46em !important;
		line-height: 31.7px !important;
	}
	.portfolio-header ul>li {
		text-align: left;
	}
	.portfolio-header ul>li {
		padding: 3px 3px 7px 0 !important;
		width: 33%;
		float: left;
	}
	.portfolio-header {
		padding: 2.6% 9.5px 10px;
	}
	.center-grid-left h2 {
		font-size: 1.6em !important;
	}
}

@media screen and (max-width:343px) {
	.introduce p {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 480px) {
	section .double-set .txt-box .txt-area p {
		display: none;
	}
	.img-grid img {
		width: 50%;
		float: left;
	}
	.subtitle h2 {
		font-size: 1.792857em;
	}
	.innertitle h2 {
		font-size: 1.492857em;
	}
	.service-area  span {
		font-size: 1.18em;
	}
	#mobilemenu {
		margin-top: 5px;
	}
	.right-grid span {
		font-size: 1.38em;
	}
	.txtbox ul {
		padding: 45px 4.5% 2.5%;
	}
	.introduce-box {
		padding: 20px 0 46px 0 !important;
	}
	.about-content h2 {
		font-size: 1.792857em;
	}
	.contact_wrap h5 {
		font-size: 1.192857em;
		line-height: 25px;
	}
	.contact_content p {
		font-size: 1.1em;
		line-height: 22px;
		letter-spacing: -.12px;
		padding-top: 15px;
	}
	img.ian_img {
		width: 100%;
		padding-bottom: 36px;
	}
	.about_ianImage {
		padding: 5.7% 16.1% 8.7%;
	}
	.about_ianBest h3 {
		font-size: 1.842857em;
		line-height: 1.05;
	}
	.about_ianBest2 {
		padding: 33.5px 0;
	}
	.about_content h4 {
		font-size: 1.6em;
		line-height: 34.7px;
	}
	img.about_img {
		width: 100%;
		padding: 0 16px 38px;
	}
	.about-area p {
		font-size: 1em;
	}
	.about_icon {
		padding: 8.5% 20.7% 6%;
	}
	.about_ianImage:before {
		display: none;
	}
	.portfolo_footer {
		margin-top: 31px;
	}
}

@media screen and (min-width:540px) and (max-width:600px) {
	.about-area .chart .chart-item {
		padding: 24px 40px;
	}
}

@media screen and (min-width:580px) and (max-width:767px) {
	.innertitle h2 {
		font-size: 1.692857em;
	}
	.img-grid {
		padding: 5.5% 4.34% 9.5%;
	}
	h1.title {
		font-size: 1.6em;
	}
	.right-grid span {
		font-size: 1.43em;
	}
	.service-area  span {
		font-size: 1.2em;
	}
	.introduce-box {
		padding: 26px 0 40px 8px !important;
	}
	.Ming {
		padding: 3% 6% !important;
	}
	.about-content h2 {
		font-size: 1.892857em;
		padding-bottom: 10px;
	}
	.right-grid h2 {
		font-size: 1.892857em;
		padding-top: 2.5%;
		margin-bottom: 0;
	}
	.small-owl .item p {
		font-size: 1.14em;
	}
	.about-content h2 {
		font-size: 1.892857em;
		padding-bottom: 10px;
	}
}

@media screen and (min-width:601px) and (max-width:767px) {
	.about-circle:before {
		left: 47.5%;
		font-size: 4em;
		margin-top: 12.4vw;
	}
}

@media screen and (max-width:767px) {
	.top-menu .brand-logo img {
		
	}
	section .double-set .txt-box .section-header p {
		font-size: 0.971429em;
	}
	section .double-set .txt-box .txt-area .btns {
		margin-top: 0;
		font-size: 1em;
		margin-bottom: 3.5%;
	}
	.less_text {
		width: 100% !important;
	}
	section .double-set .section-img {
		display: none;
	}
	article .left-direction {
		width: 100%;
	}
	article .right-direction {
		display: none;
	}
	article p {
		font-size: 0.971429em;
	}
	article span {
		font-size: 1.864286em;
		line-height: 8vw;
	}
	article .mobile_chevron {
		display: block;
	}
	section .double-set .section-img2 {
		display: none;
	}
	.special {
		display: none;
	}
	article:last-child div {
		padding: 8% 0 !important;
	}
	article:last-child span {
		font-size: 1.342857em;
	}
	article:last-child p {
		display: none;
	}
	footer img {
		display: none;
	}
	footer .footer-content .nomal {
		display: none;
	}
	footer .footer-content p:last-child {
		display: block;
	}
	.m-page {
		background: url(../images/10year.png) no-repeat center !important;
		background-size: cover !important;
	}
	.right-grid h2 {
		font-size: 1.992857em;
		padding-top: 2.5%;
		margin-bottom: 10px;
	}
	.mobile-view {
		display: block;
	}

	/* 서비스 */
	.mobile_hide {
		display: none;
	}
	.service-area .service-item {
		padding: 38px 0 0;
		border-bottom: none;
	}
	.move-contact {
		display: none;
	}
	.service-area {
		padding: 4.5% 4.34% 2.5%;
	}
	.mobile_view {
		display: block;
	}
	.owl-nav {
		display: none;
	}
	.map .subtitle {
		padding-bottom: 10px;
	}
	.center-grid-left h2 {
		font-size: 1.7em;
		margin-bottom: 15px;
	}
	.better-padding {
		padding-bottom: 6.7% !important;
	}
	.about-area .chart {
		padding-bottom: 10%;
	}
}

@media screen and (max-width:991px) {
	.top-menu .topnav li>a {
		padding: 7px 10px;
	}
	.top-menu .topnav li {
		padding: 10px 10px 5px;
	}
	#mobilemenu {
		float: right;
		display: block !important;
		margin-right: calc(4.34% + 8px);
		background: url(../images/justify.png) no-repeat;
		padding: 0 17.5px;
		height: 35px;
	}
	.top-menu .brand-logo {
		margin-bottom: 8px;
		margin-left: 4.34%;
	}
	.top-menu {
		padding: 8px 0;
	}
	.top-menu .brand-logo .fa {
		display: block;
		font-size: 38.5px;
		padding: 16px;
	}
	.top-menu .topnav {
		display: none;
		width: 100%;
		padding: 12px 0;
		background: #3b3b3b;
	}
	.top-menu .etc-place {
		display: none;
	}
	.top-menu {
		padding: 3.128% 0px 0.605% 0px !important;
	}
	.about-area {
		padding: 3.128% 4.34% 1.605%;
	}
	.service-area {
		padding: 3.128% 4.34% 1.605%;
	}
	section .double-set .txt-box {
		padding: 3.5% 0 0 4.34%;
	}
	.give-backgroundimg {
		padding: 3.5% 4.34% 0 0 !important;
	}
	article {
		padding: 2.79% 4.34%;
	}
	article .left-box {
		padding: 3.5% 0 3.5% 4.34%;
	}
	footer {
		padding: 3.128% 0px 3.128% 4.34%;
	}
	section .double-set .txt-box .section-header p {
		font-size: 1.031429em;
	}
	section .double-set .txt-box .section-header h2 {
		font-size: 1.664286em;
	}
	section .double-set .txt-box .txt-area .btnS {
		margin-top: 5px;
		font-size: 1em;
		margin-bottom: 3.5%;
	}
	section .double-set .txt-box .txt-area .btns {
		margin-top: 0;
		font-size: 1em;
		margin-bottom: 3.5%;
	}
	section .double-set .txt-box .txt-area p {
		font-size: 1.09em;
	}
	section .double-set .less_text .txt-area p {
		font-size: 1.02em;
	}
	article p {
		font-size: 1.031429em;
		margin-bottom: 0;
	}
	article span {
		font-size: 1.664286em;
	}
	article a {
		font-size: 1.971429em;
	}
	.about-content {
		padding: 4.5% 4.34% 2.5%;
	}
	.bottom-area {
		padding: 2.5% 2.09%;
	}
	.left-grid img {
		padding: 2.25%;
		width: 50%;
		float: left;
	}
	.bottom-area .right-grid {
		padding: 0 4% 0 2.25%;
		width: 100%;
		float: left;
	}
	.bottom-area .left-grid {
		float: left;
		width: 100% !important;
	}
	.right-grid .topbox {
		padding: 2.3vw 0;
	}
	.right-grid .bottombox {
		padding: 3.7vw 0;
	}
	.project-view {
		display: block;
		padding: 0 4.34%;
	}
	.right-grid .bottombox {
		display: none;
	}
	.view-header {
		display: block;
		overflow: hidden;
	}
	.view-header h2 {
		font-size: 1.992857em;
		width: 60%;
		float: left;
		padding-top: 0.6vh;
		margin-top: 0;
	}
	.view-header .owl-controls {
		float: left;
		width: 40%;
		padding-right: 4.34%;
	}
	.contact_wrap {
		padding: 4.5% 4.34% 5%;
	}
	.small-owl {
		padding-top: 1.7%;
	}
	section .double-set .txt-box .txt-area .btns:after {
		display: none;
	}
	section .double-set .txt-box .txt-area .btns {
		padding: 0.211vw 0.644vw 0.104vw 0 !important;
	}
	.mobile-in {
		display: block !important;
	}
	.mobile-out {
		display: none !important;
	}
}

@media screen and (min-width:768px) {
	.service-area>.tab-content {
		display: block;
		padding: 0 5.5% 5.5%;
	}
	.mobile_view {
		display: none !important;
	}
	.contact_content {
		padding-top: 40px;
	}
	.center-grid-left {
		width: 35%;
		float: left;
	}
	.center-grid-right {
		width: 65%;
		float: left;
	}
	.center-grid-left p {
		display: block;
	}
	.center-grid .order {
		display: block;
	}
}

@media screen and (min-width:768px) and (max-width:1192px) {
	.smallnav p {
		font-size: 1.114286em;
	}
	.smallnav .childli {
		font-size: 1.114286em;
		line-height: 25px;
	}
	.bignav .childli {
		font-size: 1.685714em;
	}
	.bigli i {
		padding: 0.6vh 33px 0;
	}
	.triangle {
		padding: 4.1%;
	}
}

@media screen and (min-width:992px) {
	section .double-set .less_text .section-header h2 {
		font-size: 3.457142857142857em !important;
	}
	.top-menu .brand-logo {
		background: url(../images/ian-logo.png) no-repeat !important;
		padding: 0 91px;
		height: 71px;
	}
}

@media screen and (min-width:320px) and (max-width:374px) {
	.subtitle h2 {
		font-size: 1.592857em !important;
	}
	.about_ianBest h3 {
		font-size: 1.117857em !important;
		line-height: 0.74 !important;
	}
	.about_ianBest2 {
		padding: 27.5px 0 !important;
	}
	.about_content h4 {
		font-size: 1.06em !important;
		line-height: 27.7px !important;
	}
	img.about_img {
		padding: 0 16px 28px !important;
	}
	.portfolio-header ul>li>a {
		font-size: 14.7px !important;
	}
	.portfolio-thumb .thumb-text p {
		font-size: 12.4px;
	}
	.portfolio-thumb .thumb-text h2 {
		font-size: 13px;
	}
}

@media screen and (min-width:375px) and (max-width:424px) {
	#owl-demo .item .owl-overlay h2 {
		font-size: 1.514286em;
	}
	section .double-set .txt-box .section-header h2 {
		font-size: 1.564286em;
		margin-top: 15px;
	}
	.about_ianBest2 {
		padding: 24.5px 0 !important;
	}
	.about_ianBest h3 {
		font-size: 1.297857em !important;
		line-height: 1.02 !important;
	}
	img.about_img {
		width: 100%;
		padding: 0 16px 23px !important;
	}
	.about_content h4 {
		font-size: 1.26em !important;
		line-height: 28.7px !important;
	}
}

@media screen and (min-width:425px) and (max-width:480px) {
	section .double-set .txt-box .section-header h2 {
		font-size: 1.564286em;
		margin-top: 15px;
		margin-bottom: 0;
	}
}

@media screen and (max-width:579px) {
	.portfolio-header ul {
		display: inline-block;
		margin-bottom: 5px;
	}
	.portfolio-header ul>li {
		/* 	padding: 3px 3px 7px 0 !important; */
		width: 33%;
		float: left;
	}
	.triangle {
		padding: 7%;
	}
}

@media screen and (min-width:425px) and (max-width:432px) {
}

@media screen and (min-width:481px) and (max-width:579px) {
	.img-grid {
		padding: 5.5% 4% 9.5%;
	}
	.portfolio-header ul>li {
		padding: 7px 10px 7px 0;
	}
	.portfolio-header ul>li>a {
		font-size: 15.6px !important;
	}
	.portfolio-header ul {
		margin-bottom: 0;
	}
	.about_ianBest h3 {
		font-size: 1.602857em;
		line-height: 1.06;
	}
	.about_ianBest2 {
		padding: 31px 0;
	}
	.about_content h4 {
		font-size: 1.44em;
		line-height: 30px;
	}
	.about_content {
		padding: 6.4% 0 0%;
	}
	.about_ianImage {
		padding: 7.8% 9.1% 9.7%;
	}
	img.about_img {
		width: 100%;
		padding: 0px 26% 8.5%;
	}
	.about_icon {
		padding: 5.5% 2.2% 10%;
	}
	.subtitle {
		padding: 24px 0;
	}
	.about-area p {
		font-size: 1.13em;
		line-height: 1.66;
	}
	.about-content h2 {
		font-size: 1.892857em;
	}
	.right-grid span {
		font-size: 1.41em;
	}
	.portfolio-area {
		padding: 6.5% 7.34% 4.5% !important;
	}
	.portfolio-thumb .thumb-text p {
		padding: 0 !important;
		text-align: center !important;
	}
	.portfolio-thumb .thumb-text h2 {
		padding: 0 !important;
		text-align: center !important;
	}
	.portfolio-thumb .thumb-text {
		padding: 7.1% 0 !important;
	}
	.mobile-align {
		padding: 0 20% !important;
	}
	.portfolio-header {
		text-align: center;
	}
}

@media screen and (min-width:425px) and (max-width:579px) {
	.portfolio-header ul>li>a {
		font-size: 16px !important;
	}
	.portfolio-thumb .thumb-text h2 {
		font-size: 16px;
	}
}

@media screen and (min-width:425px) and (max-width:480px) {
}

@media screen and (min-width:481px) and (max-width:767px) {
	section .double-set .txt-box .section-header h2 {
		font-size: 1.864286em;
		margin-top: 15px;
		margin-bottom: 0;
	}
	.subtitle h2 {
		font-size: 1.892857em;
	}
	section .double-set .txt-box .txt-area p {
		font-size: 1.14em;
	}
	#owl-demo .item .owl-overlay h2 {
		font-size: 1.514286em;
	}
	.introduce p {
		font-size: 1.192857em;
	}
	.service-area  .span-box {
		padding-right: calc(7% + 8px);
	}
	.introduce-box {
		padding: 20px calc(7% + 8px) 46px 8px !important;
	}
	/* .Ming {
		width: 80% !important;
		padding: 6% calc(7% + 8px) 6% 8px !important;
		margin: 0;
	} */
	.txtbox ul {
		padding: 45px calc(7% + 8px) 2.5% 4.5% !important;
	}
	.about_ianImage:before {
		right: 54.2%;
		font-size: 4.85vw;
	}
}

@media screen and (min-width:580px) and (max-width:767px) {
	section .double-set .txt-box .section-header p {
		font-size: 1.091429em;
	}
	.img-grid {
		padding: 5.5% 4% 9.5%;
	}
	.about_ianBest h3 {
		font-size: 1.742857em;
		line-height: 1.01;
	}
	.about_ianBest2 {
		padding: 31px 0;
	}
	.about_content h4 {
		font-size: 1.5em;
		line-height: 31.7px;
		padding-bottom: 6.7%;
	}
	.about_icon {
		padding: 7.5% 25% 10%;
	}
	img.about_img {
		width: 100%;
		padding: 0 32px 55px;
	}
	.about-area p {
		font-size: 1em;
	}
	.about_icon {
		padding: 7.5% 25% 6%;
	}
	.portfolio-header ul>li {
		font-size: 15.6px;
		padding-right: 13px;
	}
	.portfolio-area {
		padding: 11.5% 4.34% !important;
	}
}

@media screen and (min-width:650px) and (max-width:767px) {
	.about_icon {
		padding: 7.5% 29.2% 6% !important;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	#owl-demo .item .owl-overlay h2 {
		font-size: 2.414286em;
	}
	.fa2 {
		font-size: 6em !important;
	}
	.make-area:after {
		border-bottom: 39vw solid transparent;
	}
	section .double-set {
		height: 39vw;
	}
	article span {
		font-size: 1.664286em !important;
		line-height: 25px;
	}
	article .chevron {
		width: 52px;
		margin: 0 0 0 10px;
		padding: 0;
	}
	article .left-box .txt-zone p {
		font-size: 1.528571em;
		padding-left: 10vw;
	}
	article .left-direction p {
		font-size: 1.2em !important;
		margin-bottom: 8px;
	}
	article:last-child p {
		margin-bottom: 8px;
	}
	.special {
		height: 13.53vw;
	}
	article .right-box:after {
		border-bottom: 13.53vw solid transparent;
	}
	.introduce-box {
		padding: 30px 0 51px 0px !important;
	}
	.img-grid {
		padding: 5.5% 4% 9.5%;
	}
	.bignav {
		margin-bottom: 6%;
	}
	.subtitle h2 {
		font-size: 2.092857em;
	}
	.innertitle h2 {
		font-size: 1.792857em;
	}
	.service-area  span {
		font-size: 1.24em;
	}
	.introduce p {
		font-size: 1.182286em;
	}
	#mobilemenu i {
		margin-top: 1vw;
	}
	.about-content h2 {
		font-size: 2.092857em;
	}
	.right-grid h2 {
		font-size: 2.092857em;
	}
	.right-grid span {
		font-size: 1.52em;
	}
	#owl-demo .owl-prev {
		top: calc(50% - 3em);
	}
	#owl-demo .owl-next {
		top: calc(50% - 3em);
	}
	#mobilemenu {
		
	}
	.portfolio-header ul>li>a {
		font-size: 16px;
	}
	.portfolio-thumb .thumb-text p {
		padding: 0 !important;
		text-align: center !important;
	}
	.portfolio-thumb .thumb-text h2 {
		padding: 0 !important;
		text-align: center !important;
	}
	img.about_img {
		width: 32.8%;
	}
	.about_ianBest h3 {
		font-size: 2.042857em;
	}
	.about_content h4 {
		font-size: 1.7em;
		line-height: 33.3px;
	}
	.about-area p {
		font-size: 1.18em;
	}
	.about_ianImage:before {
		right: 54.2%;
		font-size: 4.85vw;
	}
	.portfolio-header ul {
		margin-bottom: 20px;
	}
	.portfolio-thumb .thumb-text {
		padding: 8.7% 0 !important;
	}
	.center-grid-left h2 {
		font-size: 1.7em;
		margin-bottom: 2px;
	}
	.center-grid-left p {
		font-size: 1.06em;
	}
	.inbox .imagines {
		padding: 5px 5px;
	}
	.center-grid {
		padding: 6.7% 2%;
	}
	.inner-grid .inbox {
		width: 25%;
	}
	.about-circle:before {
		left: 47.6%;
		margin-top: 12.7vw;
	}
}

@media screen and (min-width:768px) and (max-width:768px) {
	.less_text {
		padding-top: 7.1% !important;
	}
}

@media screen and (min-width:480px) and (max-width:768px) {
	.img-grid img {
		width: 32%;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.img-grid {
		padding: 5.5% 0 9.5%;
	}
}

@media screen and (min-width:581px) and (max-width:767px) {
	article .mobile_chevron {
		width: 70px;
	}
	.about_ianImage {
		padding: 5.7% 14.1% 9.4%;
	}
	.about_content {
		padding: 8.3% 0 0%;
	}
	.subtitle {
		padding: 28px 0;
	}
	.triangle {
		padding: 10%;
	}
}

@media screen and (min-width:769px) and (max-width:828px) {
	.less_text {
		padding-top: 7% !important;
	}
}

@media screen and (min-width:829px) and (max-width:890px) {
	.less_text {
		padding-top: 8.3% !important;
	}
}

@media screen and (min-width:891px) and (max-width:991px) {
	.less_text {
		padding-top: 8.65% !important;
	}
}

@media screen and (min-width:992px) and (max-width:1099px) {
	article:last-child span {
		font-size: 1.942857em;
	}
	article:last-child p {
		font-size: 17px;
	}
}

@media screen and (min-width:992px) and (max-width:1375px) {
	.img-grid {
		/* padding: 5.5% 40% 9.5% 0; */
		
	}
	.subtitle h2 {
		font-size: 2.192857em;
	}
	.about-content h2 {
		font-size: 2.192857em;
	}
	.innertitle h2 {
		font-size: 1.792857em;
	}
	.introduce p {
		font-size: 1.392857em;
	}
	.service-area  span {
		font-size: 1.24em
	}
	.right-grid h2 {
		font-size: 2.192857em;
	}
	.right-grid span {
		font-size: 1.43em;
	}
	.right-grid span>strong {
		font-size: 1.09em;
	}
	.imgbox p {
		font-size: 1.14em;
	}
	.inbox .imagines {
		padding: 5px 5px;
	}
}

@media screen and (min-width:1100px) and (max-width:1239px) {
}

@media screen and (min-width:1240px) and (max-width:1399px) {
}

@media screen and (min-width:1400px) and (max-width:1579px) {
}

@media screen and (min-width:1580px) and (max-width:1740px) {
}

@media screen and (min-width:992px) and (max-width:1191px) {
	.right-grid .topbox {
		
	}
	.right-grid .bottombox {
		
	}
	.top-menu {
		padding: 3.128% 0 1.105% 4.34%;
	}
	#owl-demo .item .owl-overlay h2 {
		font-size: 2.934em;
	}
	.contact_wrap {
		padding: 4.5% 4.34% 5%;
	}
	.about-area {
		padding: 3.128% 4.34% 1.605%;
	}
	.service-area {
		padding: 3.128% 4.34% 1.605%;
	}
	section .double-set .txt-box .section-header p {
		font-size: 1.271429em;
	}
	section .double-set .txt-box .section-header h2 {
		font-size: 2.764286em;
	}
	section .double-set .txt-box .txt-area p {
		font-size: 1.3em;
	}
	section .double-set .less_text .section-header h2 {
		font-size: 2.764286em !important;
	}
	section .double-set .less_text .txt-area p {
		font-size: 1.3em;
	}
	section .double-set .txt-box {
		padding: 5% 0 0 6.04%;
	}
	.less_text {
		padding-top: 7.2% !important;
	}
	article .chevron {
		width: 52px;
		margin: -3px 0 0 10px;
		padding: 0;
	}
	article {
		padding: 2.79% 6.04%;
	}
	article .left-box {
		padding: 3.69% 6.04%;
	}
	footer {
		padding: 2.477% 4.34%;
	}
	section .double-set {
		height: 40.54vw;
	}
	.make-area:after {
		border-bottom: 40.55vw solid transparent;
	}
	article .right-direction span {
		font-size: 2em;
	}
	article .left-box .txt-zone p {
		font-size: 1.828571em;
		padding-left: 10vw;
	}
	article span {
		font-size: 1.842857em;
	}
	article p {
		font-size: 1.414286em;
		margin-bottom: 7px;
	}
	.special {
		height: 13.25vw;
	}
	article .right-box:after {
		border-bottom: 13.25vw solid transparent
	}
	.about-content {
		padding: 4.5% 4.34%;
	}
	.bottom-area {
		padding: 2.5% 4.34%;
	}
	.bottom-area .right-grid {
		padding: 0 0 0 8%;
	}
	.imgbox .last-p {
		padding: 2% 0 1% 3% !important;
	}
	.imgbox p {
		padding: 4% 0 1% 3%;
	}
	.top-menu .brand-logo {
		margin-right: 3vw;
		background: url(../images/ian-logo.png) no-repeat;
		padding: 0px 91px;
		height: 71px;
	}
	.about_ianImage {
		padding: 5.7% 15.1% 8.7%;
	}
	.about_ianBest h3 {
		font-size: 2.342857em;
	}
	.about_content h4 {
		font-size: 2.1em;
	}
	.about-area p {
		font-size: 1.23em;
	}
	.about_icon {
		padding: 7.5% 3.7% 10%;
	}
	.about-area p {
		font-size: 1.13em;
	}
	.about_ianImage:before {
		right: 54.2%;
		font-size: 4.55vw;
		transform: rotate(-4deg);
	}
	img.about_img {
		padding: 0 34px;
	}
	.about-circle:before {
		left: 47.9%;
		margin-top: 13.4vw;
	}
}

@media screen and (max-width:1191px) {
}

@media screen and (max-width:1200px) {
	.portfolio-area {
		padding: 6.5% 9.34% 4.5%;
	}
}

@media screen and (min-width:992px) and (max-width:1200px) {
	.portfolio-header ul {
		margin-bottom: 15px;
	}
}

@media screen and (min-width:1192px) {
	section .double-set {
		height: 38.54vw;
	}
	.top-menu .brand-logo {
		margin-right: 1.83vw;
		background: url(../images/ian-logo.png) no-repeat;
		padding: 0px 91px;
		height: 71px;
	}
}

@media screen and (min-width:1192px) and (max-width:1375px) {
	.top-menu {
		padding: 3.128% 0 1.605% 7.04%;
	}
	section .double-set .txt-box {
		padding: 7.5% 0 0 7.04%;
	}
	article {
		padding: 2.79% 7.04%;
	}
	.give-backgroundimg {
		padding: 8.6% 7.04% 0 0 !important;
	}
	article .left-box {
		padding: 5% 0 4.4% 7.04%;
	}
	article .left-box .txt-zone p {
		font-size: 2.128571em;
		padding-left: 10vw;
	}
	footer {
		padding: 2.477% 7.04%;
	}
	section .double-set {
		height: 43.75vw;
	}
	.less_text {
		padding-top: 7.1% !important;
	}
	.special {
		height: 16.65vw;
	}
	article .right-box:after {
		border-bottom: 16.65vw solid transparent;
	}
	article .right-direction span {
		font-size: 2.442857em;
	}
	.service-area {
		padding: 3.128% 13.04% 1.605%;
	}
	.top-menu .brand-logo {
		margin-right: 3.2vw;
	}
	.bottom-area .right-grid {
		padding: 0 0 0 13%;
	}
	.imgbox .last-p {
		padding: 2% 0 1% 3% !important;
	}
	.imgbox p {
		padding: 5% 0 1% 3%;
	}
	.bottom-area {
		padding: 2.5% 7.04%;
	}
	.about-content {
		padding: 4.5% 7.04%;
	}
	.contact_wrap {
		padding: 4.5% 7.04% 5%;
	}
	.portfolio-area {
		padding: 4.5% 7.04%;
	}
	.about-area {
		padding: 3.128% 13.04% 1.605%;
	}
	.about_icon {
		padding: 7.5% 3.4% 10%;
	}
	img.about_img {
		padding: 0 25px !important;
	}
	.about_ianImage {
		padding: 5.7% 16.1% 8.7%;
	}
	.about_ianBest h3 {
		font-size: 2.242857em;
	}
	.about_content h4 {
		font-size: 2em;
	}
	.about-area p {
		font-size: 1.23em;
	}
	#owl-demo .item .owl-overlay h2 {
		font-size: 2.934em;
	}
	.introduce-box {
		padding: 3.3% 0 6% 8px !important;
	}
	.about-circle:before {
		left: 48.3%;
		margin-top: 10.7vw;
	}
}

@media screen and (max-width:1375px) {
	.service-area .subtitle {
		padding-left: 8px;
	}
	.service-item .innertitle {
		padding-left: 8px;
	}
	.service-area  .span-box {
		padding-left: 8px;
	}
	.introduce-box {
		padding: 2.4% 0 5.3% 8px;
	}
	.mobile-tab {
		padding: 0 20% 0 4%;
	}
}

@media screen and (min-width:1300px) and (max-width:1500px) {
	section .double-set .txt-box .txt-area .btns:after {
		font-size: 17.1px;
	}
	section .double-set .txt-box .txt-area .btns {
		padding: 0.211vw 1.604vw 0.104vw 0;
	}
}

@media screen and (min-width:992px) and (max-width:1299px) {
	section .double-set .txt-box .txt-area .btns:after {
		font-size: 17.7px;
	}
	section .double-set .txt-box .txt-area .btns {
		padding: 0.211vw 1.744vw 0.104vw 0;
	}
}

@media screen and (min-width:991px) and (max-width:1091px) {
	section .double-set .txt-box .section-header p {
		font-size: 1.271429em;
	}
	section .double-set .txt-box .section-header h2 {
		font-size: 2.464286em;
	}
	section .double-set .txt-box .txt-area p {
		font-size: 1.14em;
	}
	section .double-set .less_text .section-header h2 {
		font-size: 2.464286em !important;
	}
	section .double-set .less_text .txt-area p {
		font-size: 1.2em;
	}
	section .double-set .txt-box {
		
	}
	section .double-set .txt-box .txt-area .btns {
		margin-top: 18px;
	}
	section .double-set .txt-box .txt-area .btnS {
		margin-top: 18px;
	}
	.less_text {
		
	}
}

/* @media screen and (min-width:1192px) and (max-width:1399px) {
	.bottom-area .right-grid {
		padding: 0 0 0 13%;
	}
	.imgbox .last-p {
		padding: 2% 0 1% 3% !important;
	}
	.imgbox p {
		padding: 5% 0 1% 3%;
	}
	.bottom-area {
		padding: 2.5% 9.04%;
	}
	.about-content {
		padding: 4.5% 9.04%;
	}
} */
@media screen and (min-width:1400px) {
}

@media screen and (min-width:1376px) {
	article .left-box img {
		display: block;
		margin-right: 4.2vw;
	}
}

@media screen and (max-width:611px) {
	.mobile-text-in {
		display: block;
	}
	.mobile-text-out {
		display: none;
	}
	.introduce p {
		padding-bottom: 5px;
		margin-bottom: 8px;
	}
}

@media screen and (min-width:1376px) and (max-width:1580px) {
	article .left-box img {
		height: 58px;
	}
	article .left-box .txt-zone p {
		font-size: 2.028571em;
	}
	.special {
		height: 15.06vw;
	}
	article .right-box:after {
		border-bottom: 15.06vw solid transparent;
	}
}

@media screen and (min-width:1376px) and (max-width:1590px) {
	.about-area {
		padding: 4.5% 14.04% 6%;
	}
	.about-circle:before {
		margin-top: 10.8vw;
		left: 48.5%;
	}
	.service-area {
		padding: 4.5% 14.04% 6%;
	}
	.about_ianImage:before {
		right: 53.3%;
		font-size: 3.85vw;
	}
}

@media screen and (min-width:580px) and (max-width:767px) {
	#mobilemenu {
		margin-top: 3px;
	}
}

@media screen and (min-width:424px) and (max-width:767px) {
	.inbox .imagines {
		padding: 8px 8px;
	}
}

@media screen and (min-width:1580px) and (max-width:1700px) {
	article .left-box .txt-zone p {
		font-size: 2.1285714285714284em;
	}
	.special {
		height: 13.06vw;
	}
	article .right-box:after {
		border-bottom: 13.06vw solid transparent;
	}
}

@media screen and (min-width:481px) and (max-width:579px) {
	.portfolio-header ul {
		display: inline-block;
		margin-bottom: 15px !important;
	}
}

@media screen and (min-width:1700px) {
	.about_icon {
		padding: 7.5% 11% 10%;
	}
}

@media screen and (min-width:1192px) and (max-width:1530px) {
	.triangle {
		padding: 5%;
	}
}

/* 넥서스반응형 */
@media screen and (width:412px) and (height:732px) {
}

/* 아이폰 5 */
@media screen and (width:320px) and (height:568px) {
}

/* 아이폰 5 */
@media screen and (width:375px) and (height:667px) {
}

/* 아이폰 6  */
@media screen and (width:414px) and (height:736px) {
}

/* 아이패드  */
@media screen and (width:768px) and (height:1024px) {
}

/* 아이패드  */
@media screen and (width:1024px) and (height:1366px) {
}

/* test */
@media screen and (min-width:768px) {
}

@media screen and (max-width:767px) {
}