@import url('../fonts/stylesheet.css');

@import url('responsive.css');

body {
   background: #ffffff;
   font-family: 'KoPuDotum-L', sans-serif;
   font-style: normal;
   font-weight: 300;
   position: relative;
   min-height: 100%;
   text-transform: initial;
   /* -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease; */
}

html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   overflow-x: hidden;
   text-transform: initial;
}


#wrap {
   width: 100%;
   overflow: hidden; 
   padding-right: 0;
   padding-left: 0;
   margin-right: auto;
   margin-left: auto;
   /* height: 100%; */
}



/* Typography
------------------------------------- */
h1, h2, h3, h4, h5 {
   font-weight: 100;
}

h2, h3, h5 {
   letter-spacing: 4px;
   text-transform: uppercase;
}

h1 {
   font-size: 2.4rem;
   line-height: 3rem;
   letter-spacing: 4px;
   padding-bottom: 6px;
}

h2 {
   color: #666;
   font-size: 1.2rem;
   padding-bottom: 10px;
}

h3 {
   font-size: 1rem;
   letter-spacing: 1px;
   padding-bottom: 10px;
}

h4 {
   color: #000000;
   font-size: 0.9rem;
   line-height: 28px;
   letter-spacing: 1px;
}

p {
   font-size: 13px;
   font-weight: 300;
   line-height: 25px;
   word-spacing: 1px;
   font-weight: 600;
   color: rgba(33, 31, 31, 0.75);
}

a {
   /* color: inherit !important; */
   outline: none;
   text-decoration: none !important;
}

a:hover, a:focus {
   color: inherit !important;
   outline: none;
   text-decoration: none !important;
}





/* fontawesome */

.fa {
   font-size: 3em;
   color: #25252c;
   padding: 0.6vh;
}
.fa2 {
   font-size: 12.45em !important;
   color: white !important;
}

.fa3 {
   font-size: 35px !important;
}



/* 헤더-네비 */
.top-menu {
   background-color: #3b3b3b;
   padding: 3.128% 0 0.605% 9.04%;
   overflow: hidden;
}

.topnav {
   overflow: hidden;
   margin-bottom: 0;
}

.top-menu .brand-logo {
   float: left;
}

.top-menu .brand-logo :after {
   background: url(../images/justify2.png) no-repeat;
   padding: 0px 17px 0px !important;
   height: 46px;
}

.top-menu .topnav {
   list-style: none;
   padding: 0;
   background-color: white;
   overflow: hidden;
   margin-bottom: 0;
   display: flex;
   float: left;
   width: auto;
}

.top-menu .topnav li {
   padding: 1.3vw 1.3vw 0.5vw;
   background: #3b3b3b;
}

.top-menu .topnav li>a {
   display: block;
   color: #898989 !important;
   text-align: center;
   padding: 0.73vw 0.83vw;
   font-size: 17.6px;
   font-weight: 600;
}

.top-menu .topnav li .selected {
   color: #6eb92b !important;
}

.top-menu .etc-place {
   padding: 1.3vw 0.47vw 0.52vw;
}

.top-menu .etc-place p {
   padding: 0.73vw 0.83vw;
   color: #525252 !important;
   text-align: center;
   font-size: 17.6px;
   font-weight: 600;
   margin-bottom: 0;
}

.top-menu .etc-place p>a {
   color: #898989 !important;
}

.top-menu .etc-place p>a:after {
   content: "";
   background: url(../images/download.png) no-repeat;
   position: absolute;
   width: 29px;
   height: 29px;
   margin: -0.105vw 0.63vw;
}

.top-menu .brand-logo a {
	display:none !important; 
}





/* 푸터*/
footer {
   padding: 2.477% 9.04%;
   display: flex;
   background: #313131;
}

footer .footer-content {
   width: 100%;
   /*    padding: 0.5209vw 0 0.5209vw  1.0418vw; */
   padding: 0;
   text-align: left;
}

footer p {
   text-transform: initial;
   font-size: 0.9642857142857143em;
   color: #888888;
   font-weight: 300;
   margin-bottom: 0px;
   padding-right: 3.02vw;
}

footer p:first-child {
   font-size: 25px;
   padding: 0;
   color: #888888;
}

footer span {
   font-size: 36.5px;
   color: #75d701;
   letter-spacing: -1.8px;
}

footer img {
   padding: 0 0 0.7818vw 0;
}

footer a {
   font-size: 36px;
   letter-spacing: -0.67px;
   color: #707070;
}






/* owl - 공통기본형 */

.carousel {
   position: relative;
}
.owl-wrapper-outer {
   padding: 0 0 0 0;
}

.owl-carousel .owl-wrapper-outer {
   transition: .5s;
}

.owl-theme .owl-controls .owl-page span {
   background: transparent;
   border-color: white;
   border: 0.3vw solid white;
}

.owl-theme .owl-controls .owl-buttons div {
   background: transparent;
   display: block;
   opacity: 0.9;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span
   {
   background: white;
}

.owl-theme .owl-controls .owl-buttons {
   position: absolute;
   top: 37.7%;
   width: 100%;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
   float: left;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
   float: right;
}





/* 접두사 */


.no-padding {
   padding: 0;
}

.no-margin {
	margin: 0;
}

.low-weight {
   font-weight: 300;
   color: #dcdddd !important;
}

.better-top {
   padding-top: 47px;
}


.bold {
   font-weight: 600 !important;
}


.w50 {
   width: 50% !important;
}

.w45 {
   width: 45% !important;
}



.width50 {
   width: 50% !important;
}
.w55 {
   width: 55% !important;
}

.divider {
   padding: 10px 0;
}

.divider2 {
   padding: 55px 0;
}





/* 선택자*/

.selected {
   color: #85c352 !important;
}

a.is-checked {
    color: #ffffff !important;
}



/* 컬러잼 */


.white {
   color: white !important;
}
.gray {
	color:#dcdcdc !important;
}
.bg-darkgray {
   background: #535353 !important;
}

.bg-whitegray {
   color: #cecece;
}

.bg-green {
   background: #60b224 !important;
}


.green {
   background-color:#91b224 !important;
   
}

.deep-green {
   background-color:#60b224 !important;
}
