@import url('../fonts/stylesheet.css');

@import url('responsive.css');

body {
   background: #ffffff;
   font-family: 'KoPuDotum-L', sans-serif;
   font-style: normal;
   font-weight: 300;
   position: relative;
   min-height: 100%;
   text-transform: initial;
   /* -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease; */
}

html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   overflow-x: hidden;
   text-transform: initial;
}


#wrap {
   width: 100%;
   overflow: hidden; 
   padding-right: 0;
   padding-left: 0;
   margin-right: auto;
   margin-left: auto;
   /* height: 100%; */
}



/* Typography
------------------------------------- */
h1, h2, h3, h4, h5 {
   font-weight: 100;
}

h2, h3, h5 {
   letter-spacing: 4px;
   text-transform: uppercase;
}

h1 {
   font-size: 2.4rem;
   line-height: 3rem;
   letter-spacing: 4px;
   padding-bottom: 6px;
}

h2 {
   color: #666;
   font-size: 1.2rem;
   padding-bottom: 10px;
}

h3 {
   font-size: 1rem;
   letter-spacing: 1px;
   padding-bottom: 10px;
}

h4 {
   color: #000000;
   font-size: 0.9rem;
   line-height: 28px;
   letter-spacing: 1px;
}

p {
   font-size: 13px;
   font-weight: 300;
   line-height: 25px;
   word-spacing: 1px;
   font-weight: 600;
   color: rgba(33, 31, 31, 0.75);
}

a {
   /* color: inherit !important; */
   outline: none;
   text-decoration: none !important;
}

a:hover, a:focus {
   color: inherit !important;
   outline: none;
   text-decoration: none !important;
}





/* fontawesome */

.fa {
   font-size: 3em;
   color: #25252c;
   padding: 0.6vh;
}
.fa2 {
   font-size: 12.45em !important;
   color: white !important;
}

.fa3 {
   font-size: 35px !important;
}



/* 헤더-네비 */
.top-menu {
   background-color: #3b3b3b;
   padding: 3.128% 0 0.605% 9.04%;
   overflow: hidden;
}

.topnav {
   overflow: hidden;
   margin-bottom: 0;
}

.top-menu .brand-logo {
   float: left;
}

.top-menu .brand-logo :after {
   background: url(../images/justify2.png) no-repeat;
   padding: 0px 17px 0px !important;
   height: 46px;
}

.top-menu .topnav {
   list-style: none;
   padding: 0;
   background-color: white;
   overflow: hidden;
   margin-bottom: 0;
   display: flex;
   float: left;
   width: auto;
}

.top-menu .topnav li {
   padding: 1.3vw 1.3vw 0.5vw;
   background: #3b3b3b;
}

.top-menu .topnav li>a {
   display: block;
   color: #898989 !important;
   text-align: center;
   padding: 0.73vw 0.83vw;
   font-size: 17.6px;
   font-weight: 600;
}

.top-menu .topnav li .selected {
   color: #6eb92b !important;
}

.top-menu .etc-place {
   padding: 1.3vw 0.47vw 0.52vw;
}

.top-menu .etc-place p {
   padding: 0.73vw 0.83vw;
   color: #525252 !important;
   text-align: center;
   font-size: 17.6px;
   font-weight: 600;
   margin-bottom: 0;
}

.top-menu .etc-place p>a {
   color: #898989 !important;
}

.top-menu .etc-place p>a:after {
   content: "";
   background: url(../images/download.png) no-repeat;
   position: absolute;
   width: 29px;
   height: 29px;
   margin: -0.105vw 0.63vw;
}

.top-menu .brand-logo a {
	display:none !important; 
}





/* 푸터*/
footer {
   padding: 2.477% 9.04%;
   display: flex;
   background: #313131;
}

footer .footer-content {
   width: 100%;
   /*    padding: 0.5209vw 0 0.5209vw  1.0418vw; */
   padding: 0;
   text-align: left;
}

footer p {
   text-transform: initial;
   font-size: 0.9642857142857143em;
   color: #888888;
   font-weight: 300;
   margin-bottom: 0px;
   padding-right: 3.02vw;
}

footer p:first-child {
   font-size: 25px;
   padding: 0;
   color: #888888;
}

footer span {
   font-size: 36.5px;
   color: #75d701;
   letter-spacing: -1.8px;
}

footer img {
   padding: 0 0 0.7818vw 0;
}

footer a {
   font-size: 36px;
   letter-spacing: -0.67px;
   color: #707070;
}






/* owl - 공통기본형 */

.carousel {
   position: relative;
}
.owl-wrapper-outer {
   padding: 0 0 0 0;
}

.owl-carousel .owl-wrapper-outer {
   transition: .5s;
}

.owl-theme .owl-controls .owl-page span {
   background: transparent;
   border-color: white;
   border: 0.3vw solid white;
}

.owl-theme .owl-controls .owl-buttons div {
   background: transparent;
   display: block;
   opacity: 0.9;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span
   {
   background: white;
}

.owl-theme .owl-controls .owl-buttons {
   position: absolute;
   top: 37.7%;
   width: 100%;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
   float: left;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
   float: right;
}










.about-content {
   padding: 4.4% 9.04%;
}


.about-content h2 {
   font-size: 33.5px;
   letter-spacing: -0.12px;
   color: #707070;
   padding: 0 7px;
   font-weight: 600;
   text-transform: none;
}

.about-content img {
   max-height: 744px;
   width: 100%;
   
}

.about-content .subject i {
   float: right;
   color: #a3a3a3;
   font-size: 29.5px;
   padding: 0.6vh 2px;
}


.portfolio-header {
   width: 100%;
   padding: 0 17px;
}

.portfolio-header ul {
   display: inline-flex;
   list-style: none;
   padding: 0;
   letter-spacing: 0.31px;
}

.portfolio-header ul>li {
   font-size: 18px;
   padding-right: 30px;
}

.portfolio-header ul>li>a {
   color: #a0a0a0;
   font-family: 'KoPuDotum-L', sans-serif;
   line-height: 30px;
   font-weight: 600;
}

.portfolio-header i {
   color: #525252 !important;
   float: right;
   padding: 0;
   font-size: 2.4em;
}



.portfolio-area {
   padding: 80px 250px;
   overflow: hidden;
   background: rgba(49, 49, 49, 1);
}

.portfolo_footer {
   text-align: center;
   margin-top: 55px;
}

.iso-box .portfolio-thumb {
   position: relative;
   overflow: hidden;
   margin: 0;
   box-shadow: 3px 4px 17px 1px rgba(101, 89, 114, 0.44);
}

.iso-box .portfolio-thumb img {
   width: 100%;
   height: auto;
}

.portfolio-thumb .intro {
   text-align: center;
   padding: 32px 0 !important;
}

.portfolio-thumb .thumb-text {
   padding: 27px 0;
	background: white;
	border-left: 1.4px solid #d6d6d6;
	border-right: 1.4px solid #d6d6d6;
	box-shadow: inset 0 -1.7px 0px 0px rgba(234, 234, 234, 0.6);
}

.portfolio-thumb .thumb-text span {
   padding: 17px 0 22px 0;
   display: inline-block;
   color: #525252;
   letter-spacing: 0.5px;
}

.portfolio-thumb .card-ui {
   padding: 18px 0;
   background: #f9f9f9;
   display: flex;
   border-left: 1.4px solid #d6d6d6;
   border-right: 1.4px solid #d6d6d6;
}

.portfolio-thumb .card-ui .ui-area {
   width: 33%;
   margin: 0 auto;
   text-align: center;
   border-right: 2px solid #eaeaea;
}

.portfolio-thumb .card-ui .ui-area h2 {
   margin: 0;
   padding-bottom: 9px;
   font-size: 15px;
   font-weight: 600;
   margin-top: 3.2px;
   letter-spacing: 0.5px;
   color: #777777;
   text-transform: none;
}

.portfolio-thumb .card-ui .ui-area h2>i {
   color: #777777;
   font-size: 20px;
}

.portfolio-thumb .card-ui .ui-area p {
   color: #9d9d9d;
   margin-bottom: 3.2px;
   letter-spacing: 0.5px;
   line-height: 7px;
}

.portfolio-thumb .thumb-text p {
   font-weight: 300;
   font-family: 'KoPuBatang-M', sans-serif;
   letter-spacing: 0.1347px;
   text-transform: none;
   font-size: 12.3px;
   margin-bottom: 3px;
   padding: 0 17px;
   color: #525252;
}

.portfolio-thumb .card-ui .ui-area:last-child {
   border: none;
}

.portfolio-thumb .thumb-text h2 {
   font-weight: 600;
   color: black;
   font-size: 20.2px;
   letter-spacing: 0.6px;
   line-height: 32.2px;
   margin-top: 0;
   margin-bottom: 4px;
   padding: 0 17px;
}

.portfolio-thumb .thumb-text h2>strong {
   font-size: 14.3px;
   font-weight: 300;
   letter-spacing: 0.57px;
   color: #525252;
   font-family: 'Nanum Gothic', sans-serif;
}

.portfolio-area  .iso-box-wrapper {
   height: 100%;
   overflow: hidden;
}

.iso-box-wrapper .iso-box {
   width: 350.75px;
   float: left;
   padding: 17px;
   /* margin-top: 22px; */
}

.combine-context {
   width: 795.5px !important;
}

.combine-context img {
   width: 100%;
   height: auto;
}



.detail-button {
   text-align: center;
   background: #25252c;
}

.detail-button .btnS {
   font-weight: 300;
   font-size: 18.3px;
   background: transparent;
   text-transform: capitalize;
   padding: 16px 10px;
   color: #ffffff;
   border: none;
   width: 100%;
}

.ms {
   width: 20%;
}

.portfolio-thumb .thumb-video {
   height: 332px;
   position: relative;
   overflow: hidden;
}

.portfolio-thumb .thumb-video iframe {
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   bottom: 0;
}

.portfolio-thumb .intro p {
   font-family: 'KoPuBatang-M', sans-serif;
   margin-bottom: 16px;
   font-size: 15.1px;
   margin-top: 6px;
   color: #e5e5e5;
}

.portfolio-thumb .intro h2 {
   font-weight: 600;
   color: white;
   font-size: 20.2px;
   letter-spacing: 0.6px;
   line-height: 32.2px;
   margin-top: 0;
   margin-bottom: 22px;
   padding: 0 17px;
}

.portfolio-thumb .intro span {
   padding: 0 17px;
   letter-spacing: -0.3px;
   font-size: 15px;
   color: #e5e5e5;
}

.flat-black {
   background: #25252c !important;
}

.portfolio-thumb .intro {
   border: none !important;
}

.before-portfolio {
   padding-top: 52px;
   width: 100%;
   overflow: hidden;
   height: 424.5px;
}

.before-portfolio .first-carousel {
   width: 45% !important;
   float: left;
   padding: 9px;
   height: 100%;
}

.before-portfolio .second-box {
   width: 25%;
   float: left;
   padding: 9px;
   height: 100%;
}

.before-portfolio .second-box .ubox .overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   text-align: center;
   background: rgba(94, 114, 155, 0.39) !important;
   padding: 20.2% 16%;
   display: none;
}

.before-portfolio .second-box .ubox {
   height: 100%;
   position: relative;
}

.before-portfolio .second-box .ubox:hover .overlay {
   display: block;
}

.overlay h2 {
   color: #e7e7e7;
   font-size: 22px;
   margin-bottom: 12px;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   padding-bottom: 0;
   font-family: 'Abel', sans-serif;
}

.overlay strong {
   color: white;
   font-weight: 600;
   font-size: 26px;
   letter-spacing: 1.3px;
   font-family: 'KoPuDotum-B', sans-serif;
}

.overlay p {
   color: white;
   font-weight: 600;
   font-size: 18px;
   line-height: 30px;
   margin: 15px auto;
   width: fit-content;
   border-bottom: 2px solid white;
}

.before-portfolio .second-box .ubox img {
   width: 100%;
   height: 100%;
}

.before-portfolio .second-youtube {
   width: 25% !important;
   float: left;
   padding: 17px;
}

.before-portfolio .second-youtube .dum {
   height: 332px;
   position: relative;
   overflow: hidden;
}

.before-portfolio .second-youtube .dum iframe {
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   bottom: 0;
}

.second-youtube .intro p {
   font-family: 'KoPuBatang-M', sans-serif;
   margin-bottom: 16px;
   font-size: 15.1px;
   margin-top: 6px;
   color: #e5e5e5;
}

.second-youtube .intro h2 {
   font-weight: 600;
   color: white;
   font-size: 20.2px;
   letter-spacing: 0.6px;
   line-height: 32.2px;
   margin-top: 0;
   margin-bottom: 22px;
   padding: 0 17px;
}

.second-youtube .intro span {
   padding: 0 17px;
   letter-spacing: -0.3px;
   font-size: 15px;
   color: #e5e5e5;
   display: inline-block;
}

.flat-black {
   background: #25252c !important;
}

.before-portfolio .third-box {
   width: 30% !important;
   float: left;
   height: 100%;
   padding: 9px;
}

.before-portfolio .third-box .youtube-box {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 50%;
}

.before-portfolio .third-box .youtube-box iframe {
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   padding: 0 0 9px 0;
   bottom: 0;
}

.second-youtube .intro {
   border: none !important;
   text-align: center;
   padding: 32px 0 !important;
}

.first-carousel #owl-demo .item img {
   width: 100%;
   display: block;
}

.first-carousel #owl-demo .item .owl-overlay-portfolio {
   background: rgba(94, 114, 155, 0.39) !important;
}

/* .before-portfolio .third-box .box-set {
   height: 205px;
}
 */
.before-portfolio .third-box .small-box {
   width: 100%;
   height: 50%;
   text-align: center;
}

.before-portfolio .third-box .small-box>div {
   width: calc(50% - 4.5px);
   height: 100%;
   float: left;
   padding: 4.5px;
}

.before-portfolio .third-box  .small1 {
   background: rgba(11, 7, 121, 0.78);
   margin-right: 4.5px;
}

.before-portfolio .third-box  .small2 {
   background: rgba(67, 69, 82, 0.8);
   margin-left: 4.5px;
}

.before-portfolio .third-box .small-box>div>i {
   font-size: 3.54em;
   padding-bottom: 1.31vh;
   margin-top: 8px;
}

.before-portfolio .third-box .small-box>div>h2 {
   margin-top: 8px;
   color: white;
   font-family: 'KoPuBatang-M', sans-serif;
   letter-spacing: 1.1px;
   font-size: 21.7px;
   text-transform: none;
   padding: 0;
}

.before-portfolio .third-box .small-box>div>span {
   color: white;
}

.before-portfolio .first-carousel .owl-carousel {
   height: 100% !important;
}

.before-portfolio .first-carousel .owl-carousel .owl-wrapper-outer {
   height: 100% !important;
}

.before-portfolio .first-carousel .owl-carousel .owl-wrapper-outer .owl-wrapper
   {
   height: 100% !important;
}

.before-portfolio .first-carousel .owl-carousel .owl-item {
   height: 100% !important;
}

.before-portfolio .first-carousel .owl-carousel .owl-item .item {
   height: 100% !important;
}

.before-portfolio .first-carousel .owl-carousel .owl-item .item img {
   height: 100% !important;
}

/* 서비스  */




















.bottom-area {
   position:relative;
   padding:2.3% 9.04%;
   overflow:hidden;
}
.bottom-area .left-grid {
   width:50%;
   float:left;
}

.bottom-area .right-grid {
   width:50%;
   float:left;
}

.left-grid img {
   width:100%;
}


.right-grid {
   
   padding:0 4% 0 17%;
}

.right-grid .topbox {
   
}

.right-grid .bottombox {
   
}
.right-grid h2 {
   
}

.right-grid p {
   float:right;
   
}

.right-grid span {
   
}

.right-grid span> strong {
   
}

.right-grid img {
   float:left;
   width:50%;
}


.portfolio-header ul>li>a:hover {
    color: white !important;
}



.project-view {
	padding: 53px 166px 97px 166px;
	background: #f7f7f7;
}


/* 접두사 */


.no-padding {
   padding: 0;
}

.no-margin {
	margin: 0;
}

.low-weight {
   font-weight: 300;
   color: #dcdddd !important;
}

.better-top {
   padding-top: 47px;
}


.bold {
   font-weight: 600 !important;
}


.w50 {
   width: 50% !important;
}

.w45 {
   width: 45% !important;
}



.width50 {
   width: 50% !important;
}
.w55 {
   width: 55% !important;
}

.divider {
   padding: 10px 0;
}

.divider2 {
   padding: 55px 0;
}





/* 선택자*/

.selected {
   color: #85c352 !important;
}

a.is-checked {
    color: #ffffff !important;
}



/* 컬러잼 */


.white {
   color: white !important;
}
.gray {
	color:#dcdcdc !important;
}
.bg-darkgray {
   background: #535353 !important;
}

.bg-whitegray {
   color: #cecece;
}

.bg-green {
   background: #60b224 !important;
}


.green {
   background-color:#91b224 !important;
   
}

.deep-green {
   background-color:#60b224 !important;
}
