
/* glyphicon */
.glyphicon-align-justify:before {
	content: "\e055";
}

@font-face {
	font-family: 'Glyphicons Halflings2';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
		url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
		url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular')
		format('svg');
}

.glyphicons {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings2';
	font-style: normal;
	font-weight: 100;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}







@font-face {
  font-family: 'Abel';

  src: url('../fonts/Abel-Regular.ttf') format('truetype');
  font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'KoPuBatang-L';
	src: url('KoPub Batang Light.eot');
	src: url('KoPub Batang Light.eot?#iefix') format('embedded-opentype');
	src: url('KoPub Batang Light.woff') format('woff');
/* 	src: url('KoPub Batang Light.ttf') format('truetype');
 */	
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'KoPuBatang-M';
	src: url('KoPub Batang Medium.eot');
	src: url('KoPub Batang Medium.eot?#iefix') format('embedded-opentype');
	src: url('KoPub Batang Medium.woff') format('woff');
/* 	src: url('KoPub Batang Medium.ttf') format('truetype');
 */	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'KoPuBatang-B';
	src: url('KoPub Batang Bold.eot');
	src: url('KoPub Batang Bold.eot?#iefix') format('embedded-opentype');
	src: url('KoPub Batang Bold.woff') format('woff');
/* 	src: url('KoPub Batang Bold.ttf') format('truetype');
 */	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'KoPuDotum-L';
	src: url('KoPub Dotum Light.eot');
	src: url('KoPub Dotum Light.eot?#iefix') format('embedded-opentype');
	src: url('KoPub Dotum Light.woff') format('woff');
/* 	src: url('KoPub Dotum Light.ttf') format('truetype');
 */	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KoPuDotum-M';
		src: url('KoPub Dotum Light.eot');
	src: url('KoPub Dotum Light.eot?#iefix') format('embedded-opentype');
	src: url('KoPub Dotum Light.woff') format('woff');
/* 	src: url('KoPub Dotum Light.ttf') format('truetype');
 */	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'KoPuDotum-B';
	src: url('KoPub Dotum Bold.eot');
	src: url('KoPub Dotum Bold.eot?#iefix') format('embedded-opentype');
	src: url('KoPub Dotum Bold.woff') format('woff');
/* 	src: url('KoPub Dotum Bold.ttf') format('truetype');
 */	font-weight: normal;
	font-style: normal;
}





