.about-area {
	padding: 4.5% 19.04% 6%;
	overflow: hidden;
	background: #535353;
}

/* .about-post {
	padding:0 0 490px;
	background:url(../../images/»Ñ±î»ß.png) no-repeat center !important;
	background-size:cover;
} */

.about-area .about-circle {
	padding:3.4% calc(12% + 20px) 0%;
	overflow:hidden;
	
}

.about-area .chart {
	overflow:hidden;
	padding-bottom:7%;
}

.about-area .chart .chart-item {
	width:33.3%;
	float:left;
	
	padding:24px 0;
}


.about-area .chart .chart-item h2{
	
	padding: 0 0 32px;
	font-size:1.6em;
	text-align:center;
	margin:20px;
	color:white;
	border-bottom:2px solid #b6b6b6;
	font-family:'KoPubatang-L', sans-serif;
}

.about-area .chart .chart-item p {
	padding:0 15px;
	
}

.border-r-none {
	border-right:none !important;
}



.about-circle:before {
	 content: "+";
   position: absolute;
   z-index: 1;
   pointer-events: none;
  
   left: 48.9%;
   color:#e8e8e8;
   margin-top:9.6vw;
 	font-size:5em;
 	
}

.about-area .about-circle div {
	
	padding:30px 10px;
	width:50%;
	float:left;
}

.about-area .about-circle img {
	width:100%;
	
}
 .about-circle .left-circle  {
	
	
}

.about-circle .right-circle  {
	
	
}

.about-area .about-header img {
	width:100%;
	padding:0 20px;
}
.about_ianBest h3 {
	font-size: 2.442857142857143em;
	color : rgba(130,130,130,1);
	padding:5px 0 11.5px;
	margin:0;
	line-height:1.08;
	letter-spacing:3.92px;
}

.about_ianBest {
    text-align: center;
}
.about_ianBest2 {
    padding : 37px 0;
	position:relative;
    display: inline-block;
}

.about_ianBest2:before {
	content: "";
	position:absolute;
	left: 32.5%;
	bottom:0;
	height: 100%;
	width: 35%;
	border-bottom: 3px solid white;
	border-top: 3px solid white;
}

.about_ianBest strong{
	color: white;
}

.about_icon {
    padding: 7.5% 8.5% 10%;
}



img.ian_img {
    width: 50%;
    float: left;
}

.about_ianImage {
    padding: 10.1% 13.3% 8.7%;
    overflow: hidden;w
}

.about_ianImage:before {
	content: "\\";
	position:absolute;
	right:52.3%;
	font-size:3.25vw;
	margin-top:-2px;
	color:white;
	transform:rotate(-7deg);
	font-family:'KoPuBatang-L', sans-serif;
}

.about_contents {
    text-align: center;
}

.about_content h4 {
    color: white;
    font-size: 2.04em;
    line-height: 41.7px;
    letter-spacing: 1.4px;
}
.about-area p {
    color: rgba(219, 219, 219, 1);
    font-size: 1.43em;
    font-weight:300;
    letter-spacing:-0.28px;
    margin-bottom:0;
    line-height:1.78;
    word-break: keep-all;
}

.subtitle {
    padding: 33px 0px;
}

.about {
    border-top: 1px solid white;
    margin:0 20px;
   
}



img.about_img {
   width:33%;
   margin:0 auto;
   padding:0 16px;
}

.about_content {
   
    text-align:center;
    padding:4.9% 0 6.2%;
}


.pd_left {
	padding-left: 20px;
}

.about-info {
	padding:0 20px 6.4%;
}

.subtitle h2 {
	font-size: 2.392857142857143em;
	font-weight: 600;
	color: white;
	padding:0 20px;
	
	letter-spacing: -0.12px;
	text-transform:none;
}
.move-contact {
	text-align: center;
	padding: 2.6% 0;
	background: #6eb92b;
}

.move-contact p {
	font-size: 16.6px;
	margin-bottom: 0;
	color: white;
	font-family: 'KoPuBatang-L', sans-serif;
	font-weight: 300;
}

.move-contact h2 {
	font-size: 33.5px;
	letter-spacing: -0.12px;
	color: white;
	font-weight: 600;
	margin-top: 12px;
}




