.about-area {
	padding: 4.5% 19.04% 6%;
	overflow: hidden;
	background: #535353;
}
.about_ianBest h3 {
	font-size: 2.442857142857143em;
	color : rgba(130,130,130,1);
	padding:5px 0 11.5px;
	margin:0;
	line-height:1.08;
	letter-spacing:3.92px;
}

.about_ianBest {
    text-align: center;
}
.about_ianBest2 {
    padding : 37px 0;
	position:relative;
    display: inline-block;
}

.about_ianBest2:before {
	content: "";
	position:absolute;
	left: 32.5%;
	bottom:0;
	height: 100%;
	width: 35%;
	border-bottom: 3px solid white;
	border-top: 3px solid white;
}

.about_ianBest strong{
	color: white;
}

.about_icon {
    padding: 7.5% 8.5% 10%;
}



img.ian_img {
    width: 48%;
    float: left;
}

.about_ianImage {
    padding: 5.7% 14.1% 8.7%;
    overflow: hidden;w
}

.about_ianImage:before {
	content: "\\";
	position:absolute;
	right:53%;
	font-size:3.25vw;
	margin-top:-2px;
	color:white;
	transform:rotate(-7deg);
	font-family:'KoPuBatang-L', sans-serif;
}

.about_contents {
    text-align: center;
}

.about_content h4 {
    color: white;
    font-size: 2.04em;
    line-height: 41.7px;
    letter-spacing: 1.4px;
}
.about-area p {
    color: rgba(219, 219, 219, 1);
    font-size: 1.33em;
    font-weight:300;
    letter-spacing:-0.28px;
    margin-bottom:0;
    line-height:1.78;
}

.subtitle {
    padding: 33px 0;
}

.about {
    border-top: 1px solid white;
}

img.about_img {
   width:33%;
   margin:0 auto;
   padding:0 16px;
}

.about_content {
    padding: 7.8% 0 0%;
    text-align:center;
}


.pd_left {
	padding-left: 20px;
}

.about-info {
	padding-bottom:6.4%;
}

.subtitle h2 {
	font-size: 2.392857142857143em;
	font-weight: 600;
	color: white;
	padding:0;
	letter-spacing: -0.12px;
	text-transform:none;
}




