.about-area {
	padding: 4.5% 13.04% 11.5%;
	overflow: hidden;
	background: #535353;
}
.about_ianBest h3 {
	font-size: 2.642857142857143em;
	color : rgba(130,130,130,1);
	padding:5px 0 10px;
	margin:0;
	line-height:1.08;
	letter-spacing:3.92px;
}

.about_ianBest {
    text-align: center;
}
.about_ianBest2 {
    padding : 37px 0;
	position:relative;
    display: inline-block;
}

.about_ianBest2:before {
	content: "";
	position:absolute;
	left: 30.5%;
	bottom:0;
	height: 100%;
	width: 39%;
	border-bottom: 3px solid white;
	border-top: 3px solid white;
}

.about_ianBest strong{
	color: white;
}

.about_icon {
    padding: 1% 15% 10%;
}



img.ian_img {
    width: 48%;
    float: left;
}

.about_ianImage {
    padding: 5.7% 14.1% 8.7%;
    overflow: hidden;
   
}

.about_ianImage:before {
	content: "\\";
	position:relative;
	right:55.7%;
	font-size:3.75vw;
	color:white;
}

.about_contents {
    text-align: center;
}

.about_contents h4 {
    color: white;
    font-size: 2.2em;
    line-height: 41.7px;
    letter-spacing: 1.4px;
}
.about-area p {
    color: rgba(219, 219, 219, 1);
    font-size: 1.43em;
    font-weight:300;
    letter-spacing:-0.28px;
    margin-bottom:12px;
}

.subtitle {
    padding: 33px 0;
}

.about {
    border-top: 1px solid white;
}

img.about_img {
   width:33%;
   margin:0 auto;
   padding:0 16px;
}

.about_contents {
    padding:4.6% 0;
}


.mg_left{
	margin-left: 20px;
}


@media screen and (max-width:991px) {
		.top-menu .brand-logo {
			margin-left:calc(4.34% + 8px) !important;
		}
		
		footer {
			padding-left:calc(4.34% + 8px) !important;
		}
}


@media screen and (min-width:992px) and (max-width:1191px) {
		
	.top-menu {
		padding: 3.128% 0 1.105% calc(4.34% + 8px) !important;
		
	}
	footer {
		padding:2.477% calc(4.334% + 8px) !important;
	}
}


@media screen and (min-width:1192px) and (max-width:1375px) {
	.top-menu {
		padding: 3.128% 0 1.605% calc(7.04% + 8px) !important;
		
	}
