.portfolio-area {
   padding: 4.5% 15.25%;
   overflow: hidden;
   background: rgb(31, 31, 31);
   visibility:hidden;
}


.masonry { /* Masonry container */
    -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
 
}

@media only screen and (max-width: 479px) {

	.masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
   
    .iso-box-wrapper .width{
    display:none !important;
   }
    .iso-box-wrapper .iso-box{
    width: 100%; 
   }
    .iso-box-wrapper .grid-sizer{
    width: 100%; 
   }

	}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
   
    .iso-box-wrapper .width{
    display:none !important;
   }
    .iso-box-wrapper .iso-box{
    width: 50%; 
   }
    .iso-box-wrapper .grid-sizer{
    width: 50%; 
   }
 
}


	
@media only screen and (min-width: 768px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    .iso-box-wrapper .iso-box{
    width: 33.33%; 
   }
    .iso-box-wrapper .grid-sizer{
    width: 33.33%; 
   }
    .iso-box-wrapper .width{
    width: 66.66% !important; 
   }
   
    .iso-box-wrapper .visible{
    width: 33.33% !important; 
   }
  
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
    .iso-box-wrapper .iso-box{
    width: 25%; 
   }
    .iso-box-wrapper .grid-sizer{
    width: 25%; 
   }
     .iso-box-wrapper .width{
    width: 50% !important; 
   }
   
}


.portfolio-header {
   width: 100%;
   padding: 0 9.5px;
}

.portfolio-header ul {
   display: inline-flex;
   list-style: none;
   padding: 0;
   letter-spacing: 0.31px;
}

.portfolio-header ul>li {
   font-size: 18px;
   padding-right: 30px;
}

.portfolio-header ul>li>a {
   color: #a0a0a0;
   font-family: 'KoPuBatang-L', sans-serif;
   line-height: 30px;
   font-weight: 600;
}

.portfolio-area  .iso-box-wrapper {
   height: 100%;
   overflow: hidden;
}


.iso-box-wrapper .iso-box {
    
    padding: 9.5px;
    display:inline-block;
  
}


.iso-box .portfolio-thumb {
   position: relative;
   overflow: hidden;
   margin: 0;
   box-shadow: 3px 4px 17px 1px rgb(37, 37, 37);
}


.iso-box .portfolio-thumb img {
   max-width: 100%;
   height: auto;
}

 .combine {
  display:flex;
}

 .combine .img-box img {
	max-width:none;
	width:100%;
	
}

.combine div {
	width:50%;
	float:left;
	
}

.combine .thumb-text2 {

   padding: 24.5% 0 0;
   background: #494949;
  
}

.combine .thumb-text2 p {
		 font-weight: 300;
   font-family: 'KoPuBatang-M', sans-serif;
   letter-spacing: -0.92px;
   text-transform: none;
   font-size: 13.5px;
   padding: 0 29px;
   color: #717171;
   margin-bottom:0;
}


.combine .thumb-text2 h2 {
   font-weight: 600;
   color: white;
   font-size: 17.2px;
   letter-spacing: 0.6px;
   line-height: 32.2px;
   margin-top: 0;
   margin-bottom: 4px;
   padding: 0 29px;
}



.portfolio-thumb .thumb-text {
   padding: 5.7% 0 13.3%;
   background: #494949;
  
}


.portfolio-thumb .thumb-text p {
   font-weight: 300;
   font-family: 'KoPuBatang-B', sans-serif;
   letter-spacing: 0.1347px;
   text-transform: none;
   font-size: 13.5px;
   margin-bottom: 0px;
   letter-spacing:-0.92px;
   padding: 0 19px;
   color: #717171;
}


.portfolio-thumb .thumb-text h2 {
   font-weight: 600;
   color: white;
   font-size: 17.2px;
   letter-spacing: 0.6px;
   line-height: 32.2px;
   margin-top: 0;
   margin-bottom: 4px;
   padding: 0 19px;
}


.portfolio-header ul>li>a:hover {
    color: white !important;
}




.portfolo_footer {
   text-align: center;
   margin-top: 55px;
}




.move-contact {
   text-align: center;
   padding: 2.6% 0;
   background:#6eb92b;
}

.move-contact p {
   font-size: 16.6px;
   margin-bottom: 0;
   color:white;
   font-family:'KoPuBatang-L', sans-serif;
   font-weight:300;
}

.move-contact h2 {
   font-size: 33.5px;
   letter-spacing: -0.12px;
   color: white;
   font-weight: 600;
   margin-top: 12px;
}


.append-button .gray:hover {
    color: white !important;
}

.visible {
	
	visiblity:hidden;
	
}


/* 
.top-menu {
      padding: 3.128% 0 0.605% calc(13.04% + 9.5px);
      
   }
   
   
   
   footer {
         padding:2.477% calc(13.04% + 9.5px);
      }
    */

/* 
@media screen and (max-width:991px) {
   
      
      .top-menu .brand-logo {
         margin-left:calc(4.34% + 9.5px) !important;
      }
      
      footer {
         padding-left:calc(4.34% + 9.5px) !important;
      }
}
 */


@media screen and (max-width:1200px) {
   
.none_mobile {
	display:none !important;
	}
}

/* @media screen and (min-width:992px) and (max-width:1191px) {
      
   .top-menu {
      padding: 3.128% 0 1.105% calc(4.34% + 9.5px) !important;
      
   }
   footer {
      padding:2.477% calc(4.334% + 9.5px) !important;
   }
} */

@media screen and (min-width:320px) {
	.move-contact {
		display:block !important;
	}
}


/* @media screen and (min-width:1192px) and (max-width:1375px) {
   .top-menu {
      padding: 3.128% 0 1.605% calc(7.04% + 9.5px) !important;
      
   }
   footer {
      padding:2.477% calc(7.04% + 9.5px) !important;
   }
}
 */


@media screen and (min-width:580px) and (max-width:767px) {

	.move-contact p {
		font-size:15.2px;
	}
	.move-contact {
		padding:3.1% 0 2.1%;
	}
	.move-contact h2 {
		font-size:27px;
	}
	
}
@media screen and (max-width:579px) {

	.move-contact p {
		font-size:15.2px;
	}
	.move-contact {
		padding:3.1% 0 2.1%;
	}
	.move-contact h2 {
		font-size:27px;
	}
}

@media screen and (max-width:991px) {
		.move-contact h2 {
		margin:0;
	}
}




