.service-area {
	padding: 4.5% 19.04% 6%;
	overflow: hidden;
	background: #535353;
}


.innertitle img {
	
}
.innertitle h2 {
	font-size: 1.992857142857143em;
	font-weight: 600;
	color: white;
	padding:0;
	letter-spacing: -0.12px;
	text-transform:none;
	float:left;
	width:fit-content;
	padding-right:.5%;
	margin:0;
}

.subtitle h2 {
	font-size: 2.392857142857143em;
	font-weight: 600;
	color: white;
	padding:0;
	letter-spacing: -0.12px;
	text-transform:none;
}



.service-area  span {
	color:#b5b5b6;
	font-size:1.3em;
	line-height:33.2px;
	
}
.service-area .subtitle {
	

}

.mobile_view img {
	width:100% !important;
	padding:4% !important;
}




.img-grid {
	padding: 5.5% 5% 3.4%;
	overflow:hidden;
}

.img-grid img {
	width: 16%;
	padding:8px;
}

.introduce-box {
	padding:3.8% 0 5.3%;
	border-top:2px solid #808080;
	margin-top:20px;
}
.introduce p {
	
   font-size: 1.332857em;
   margin-bottom:0px;
   color: #ffffff;
   letter-spacing: -.12px;
}


.introduce img {
     
 	padding:8.5px 12px 8px 4px;
}



.service-area>.tab-content {
	overflow: hidden;
	display:none;
}

/* ÃƒÂ¯Ã‚Â§Ã‚Â¢ÃƒÂ¬Ã‚Â¢Ã¢â‚¬ËœÃƒÂ¬Ã‹Å“Ã¢â€žÂ¢ÃƒÂ¨Ã‚Â£Ã¢â‚¬Â¢ÃƒÂ¬Ã¢â‚¬Å¡Ã‚Â¼ÃƒÂ¬Ã‹Å“Ã¢â€žÂ¢ÃƒÂ¯Ã‚Â§Ã‚Â¢ÃƒÂ¬Ã¢â‚¬Å¾Ã‚ÂÃƒÂ¢Ã¢â‚¬Å¾Ã¢â‚¬Å“ÃƒÂ¥Ã‚ÂÃ‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂµÃ‚ÂµÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂªÃ‚Â¹Ã‚Â´ÃƒÂ¥Ã‚ÂÃ‚Â ÃƒÂ¬Ã…Â½Ã¢â‚¬Å¾ÃƒÂ¬Ã‚Â½Ã¢â‚¬ÂºÃƒÂ¥Ã‚ÂÃ‚Â ÃƒÂ¯Ã‚Â¿Ã‚Â½ */
.hypertab {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-bottom: 27px;
}
/* Float the list items side by side */
.hypertab .motherli {
	float: left;
	width: 20%;
}
/* Style the links inside the list items */
.hypertab .motherli .childli {
	display: inline-block;
	color: #dadada;
	text-decoration: none;
	padding: 14px 16px 0 16px;
	font-size: 32px;
	transition: 0.3s;
	letter-spacing: -0.2px;
	font-family: 'KoPuBatang-B', sans-serif;
}

.hypertab .motherli a:hover {
	color: #6eb92b !important;
}
/* Style the tab content */
.hypertabcontent {
	display: none;
}

.hypertab .current {
	color: #6eb92b;
}

.hypertabcontent.current {
	display: block;
}

.tab-content>.tab-pane {
	width: 100%;
	float: left;
	/* padding: 0 10% 0 7%; */
}

.tab-pane .imageset {
	height: inherit;
}

.tab-pane .imageset img {
	width: 100%;
	max-height: 100%;
}

.tab-info h3 {
	font-size: 21.2px;
	margin: 0;
	color: #b5b5b6;
	padding: 0;
	line-height: 29px;
	font-family: 'KoPuDotum-M', sans-serif;
}

.hypertab .special a {
	padding: 14px 0 0 !important;
}

.motherli i {
	padding: 0.6vh 43px 0;
	color: #525252;
	font-size: 1.54em;
}

.current .childli {
	color: #6eb92b !important;
}

.current i {
	color: #6eb92b !important;
}

.hypertab:after {
	content: "";
	display: inline-block;
	background: rgba(193, 193, 193, 0.15);
	width: 90%;
	height: 5px;
	position: relative;
	z-index: 3;
	margin-top: -15.4px;
}

.move-contact {
	text-align: center;
	padding: 2.6% 0;
	background: #6eb92b;
}

.move-contact p {
	font-size: 16.6px;
	margin-bottom: 0;
	color: white;
	font-family: 'KoPuBatang-L', sans-serif;
	font-weight: 300;
}

.move-contact h2 {
	font-size: 33.5px;
	letter-spacing: -0.12px;
	color: white;
	font-weight: 600;
	margin-top: 12px;
}




.bigli a {
	color: white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #6eb92b !important;
}

.nav>li>a:focus, .nav>li>a:hover {
	color: #6eb92b !important;
}

.nav-tabs>li>a {
	color: white;
}

.bignav {
	width: 100%;
	float: left;
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 3% 1.5% 0;
	overflow: hidden;
	margin-bottom: 8%;
}

.smallnav {
	width: 35%;
	float: left;
}

.history_img_div {
	width: 65%;
	float: left;
}

.nav-tabs .bigli {
	width: 20%;
}

.tab2 .nav-tabs li {
	float: none;
	padding-bottom:3px;
}

.history_image {
	width: 100%;
	height:529px;
}

/* .tab-content_wrap {
	padding: 0 6% 4.8% 16%;
	height: 631.3438px;
} */
.bignav .childli {
	display: inline-block;
	color: #dadada;
	text-decoration: none;
	padding: 14px 16px 0 16px;
	font-size: 2.0857142857142856em;
	transition: 0.3s;
	letter-spacing: -0.2px;
	font-family: 'KoPuBatang-B', sans-serif;
}

.smallnav .childli {
	font-size: 1.5142857142857142em;
	margin: 0;
	color: #b5b5b6;
	padding: 0;
	line-height: 29px;
	text-align: left;
	padding: 0 9% 0 9%;
	font-family: 'KoPuDotum-M', sans-serif;
}

.tab2 {
	overflow: hidden;
	/* height: 30.5vw; */
}

.bignav:after {
	content: "";
	display: inline-block;
	background: rgba(193, 193, 193, 0.15);
	width: 100%;
	height: 5px;
	position: relative;
	z-index: 3;
	margin-top: -15.4px;
}

.bigli i {
	padding: 0.6vh 40px 0;
	color: rgba(221, 221, 221, 1);
	font-size: 1.54em;
}

.active i {
	color: #6eb92b !important;
}

.smallnav p {
	margin-bottom: 0;
	text-align: left;
	padding: 0 9% 8px 9%;
	color: rgba(217, 217, 217, 0.89);
	font-size: 1.5142857142857142em;
}

/* ÃƒÂ«Ã‚ÂªÃ‚Â¨ÃƒÂ«Ã‚Â°Ã¢â‚¬ÂÃƒÂ¬Ã‚ÂÃ‚Â¼ÃƒÂ«Ã‚Â©Ã¢â‚¬ÂÃƒÂ«Ã¢â‚¬Â°Ã‚Â´ */

.mobile-tab {
	padding:0 20% 0 0;
}

.mobile-tab >li {
	width:33.3%;
	text-align:center;
	
}

.mobile-tab >li>a {
	padding:0;
	width:89%;
	margin:0 auto;
	padding-bottom:8px;
	border-bottom:2px solid white;
	font-size:1.23em;
	font-family:'KoPuBaTang-M', sans-serif;
	color:#ecebeb;
	margin-left:0;
}

.inner-tab {
	overflow:hidden;
}

.inner-tab>.tab-pane {
	width:100%;
	float:left;
}

.tab-pane .history {
	padding-top:8%;
}


.tab-pane .history .txtbox {
	border-left:2px solid white;
	padding-left:4%;
	margin-left:8px;
	position:relative;
}
.tab-pane .history .txtbox h1 {

}

.tab-pane .history .txtbox h2 {
	padding-left:2%;
}

h1.title{
	position: absolute;
	top: -1px;
    left: -15px;
    margin-top:0;
	font-size:1.7em;
	line-height:1.6em;
	padding-left:35px;
	background:	url(../../images/minimi.png)no-repeat 5px 0px;
	color:white;
}

.tab-pane .history .txtbox p {
	padding-left:2%;
}

.tab-pane .history img {
	
	padding-left:8px;
	margin-bottom:6%;
	
}



.txtbox ul {
	list-style:none;
	padding:10% 4.5% 2.5%;
	margin-bottom:0;
}

.txtbox ul > li > span {
		display:block;
}

.txtbox ul > li {
	padding-bottom:13px;
}


.lst_dot_history li .month {
	color:white;
	font-size:1.1em;
	padding-bottom:4.5px;

	
}

.lst_dot_history li .history_obj {
	color:rgba(217, 217, 217, 0.89);
	
	
}


.mobile_view {
	display:none;
	padding-top:3%;	
}

 .Ming {
	width:70% !important;
	margin:0 auto;
	padding:6% !important;
} 

.triangle{
	text-align: center;
	padding:3% 0 ;
}

.triangle img {
    width: 43%;
    padding:5.3% 0;
}

@media screen and (min-width:450px) and (max-width:768px) {
	.triangle img {
	    width: 65%;
	}
}
@media screen and (max-width:449px){
	.triangle img {
	    width: 80%;
	}
}


@media screen and (min-width:992px) and (max-width:1191px) { 
	.img-grid {
		padding:3.5% 0 8%;
	}
	.introduce-box {
		padding:3.3% 0 6% 8px !important; 
	}
}





/* 김영찬스웨그 */

 .center-grid {
	
	padding:4.5% 5.5% 5.5%;
	overflow:hidden;
}

 .center-grid img {
	
	
}

 .inbox .imagines {
	width:100%;
	height:auto;
	padding:8px 23px;
	
}
 .center-grid-left {
	width:30%;
	float:left;
}


 .center-grid-left h2 {
	margin-top:5px;
	color:white;
	letter-spacing:1.48px;
	font-size:1.9em;
	margin-bottom:6px;
	line-height:34px;
}

.center-grid-left p {
	color:#b5b5b6;
	font-weight:300;
	font-size:1.1em;
	letter-spacing:-0.32px;
}



.center-grid-right {
	width:70%;
	float:left;
}


.center-grid-right h2 {
	
}



.center-grid-left span {
	
}

.inner-grid {
	padding:7.5% 3% 3%;
	overflow:hidden;
	text-align:center;
}

.inner-grid .inbox {
	width:25%;
	float:left;
}

.inner-grid .inbox h2 {
	padding-top:0px;
	color:white;
	letter-spacing:-0.12px;
	font-size:1.2em;
	line-height:24.4px;
	margin:0;
	
}

.inner-grid2 {
	padding:5.2% 2% 3%;
	overflow:hidden;
	text-align:center;
}

.inner-grid2 .inbox {
	width:33%;
	float:left;
}

.inner-grid2 .inbox h2 {
	padding-top:0px;
	color:white;
	letter-spacing:-0.12px;
	font-size:1.2em;
	line-height:24.4px;
	margin:0;
	
}



.inner-grid  img {
	
}




.give-padding {
	padding:4.5% 5.5% 3.2% !important;
}




.first-section {
	
	overflow:hidden;
}

.first-section .innertitle {
	padding:38px 0 25px;
}

.history-title {
	padding:3.3414% 0 0 0;
	border-top:2px solid #808080;
}
.history-title h2 {
	font-size: 2.392857142857143em;
	font-weight: 600;
	color: white;
	padding:0;
	letter-spacing: -0.12px;
	text-transform:none;
}



/* @media screen and (max-width:991px) {
		.top-menu .brand-logo {
			margin-left:calc(4.34% + 8px) !important;
		}
		
		footer {
			padding-left:calc(4.34% + 8px) !important;
		}
} */


/* @media screen and (min-width:992px) and (max-width:1191px) {
		
	.top-menu {
		padding: 3.128% 0 1.105% calc(4.34% + 8px) !important;
		
	}
	footer {
		padding:2.477% calc(4.334% + 8px) !important;
	}
}
 */
/* 
@media screen and (min-width:1192px) and (max-width:1375px) {
	.top-menu {
		padding: 3.128% 0 1.605% calc(7.04% + 8px) !important;
	}
	footer {
		padding:2.477% calc(7.04% + 8px) !important;
	}	
} */
