<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ianbest-bim</display-name>
  
  

		<servlet-mapping>
		    <servlet-name>default</servlet-name>
		    <url-pattern>*.js</url-pattern>
		    <url-pattern>*.css</url-pattern>
		    <url-pattern>*.jpg</url-pattern>
		    <url-pattern>*.gif</url-pattern>
		    <url-pattern>*.png</url-pattern>
		    <url-pattern>*.ico</url-pattern>
		    <url-pattern>*.swf</url-pattern>
		    <url-pattern>*.ttf</url-pattern>
		    <url-pattern>*.eot</url-pattern>
		    <url-pattern>*.woff</url-pattern>
		</servlet-mapping>


		<servlet>
			<servlet-name>about</servlet-name>
				<jsp-file>/about.jsp</jsp-file>
			</servlet>
			<servlet-mapping>
				<servlet-name>about</servlet-name>
			<url-pattern>/about</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>service</servlet-name>
				<jsp-file>/service.jsp</jsp-file>
			</servlet>
			<servlet-mapping>
				<servlet-name>service</servlet-name>
			<url-pattern>/service</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>project</servlet-name>
				<jsp-file>/portfolio.jsp</jsp-file>
			</servlet>
			<servlet-mapping>
				<servlet-name>project</servlet-name>
			<url-pattern>/project</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>contact</servlet-name>
				<jsp-file>/contact.jsp</jsp-file>
			</servlet>
			<servlet-mapping>
				<servlet-name>contact</servlet-name>
			<url-pattern>/contact</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>index</servlet-name>
				<jsp-file>/index.jsp</jsp-file>
		</servlet>
		<servlet-mapping>
				<servlet-name>index</servlet-name>
			<url-pattern>/main</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>portfolio_detail</servlet-name>
				<jsp-file>/portfolio_detail.jsp</jsp-file>
		</servlet>
		<servlet-mapping>
				<servlet-name>portfolio_detail</servlet-name>
			<url-pattern>/project_detail</url-pattern>
		</servlet-mapping>
		
		<error-page>
		<error-code>404</error-code>
		<location>/error_404.jsp</location>
		</error-page>
		<error-page>
		<error-code>400</error-code>
		<location>/error_400.jsp</location>
		</error-page>
		<error-page>
		<error-code>500</error-code>
		<location>/error_500.jsp</location>
		</error-page>
		<error-page><exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
		</error-page>
			<error-page><exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
		</error-page>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>